* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

:root {
    --menu-height: calc(100vh / 5);
    --clr-coral : #c9201f;
    /* --clr-coral : #55331F; */
    --clr-bg : #f3e4c6;
}

body {
    font-family: 'Crimson Text', serif;
    background-color: var(--clr-bg);
    height: 100vh;

}
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--clr-bg);
    z-index: 100;
}
header h1 {
    text-align: center;
    color: var(--clr-coral);
    font-size: clamp(2rem, 7vw, 4rem);
}

.container {
    padding-top: 70vh;
    padding-bottom: 30vh;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.effect_box {
    width: 100%;
    height: 100%;
    backdrop-filter: grayscale(50%);
}
.text {
    position: relative;
    z-index: 50;
    color: var(--clr-coral);
    height: var(--menu-height);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.inside_text {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(20%);
    transition: transform 0.5s 0.3s ease-out, color 0.8s ease-in-out;
}
.inside_text h2,
.inside_text h3 {
    margin: 0;
    line-height: 0.6;
}
.inside_text h3 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: clamp(0.4rem, 2vw, 1.3rem);
    font-weight: 400;
    letter-spacing: 1.5px;
}
.inside_text .dix h3 {
    margin-left: 1rem;
}
.inside_text .cinquante h3 {
    margin-right: 1rem;
}
.inside_text h2 {
    font-size: clamp(1rem, 5vw, 4rem);
    font-weight: 700;
}
.dix {
    width: 10%;
    text-decoration: underline;
}
.trente {
    width: 30%;
}
.cinquante {
    width: 50%;
    text-align: right;
}

.menu_item {
    cursor: pointer;
    position: relative;
    height: var(--menu-height);
    overflow: hidden;
    opacity: 0;
    transition: opacity 4s ease-out;
    border-top: var(--clr-coral) solid 5px;
}
.menu_item:nth-last-child(-n + 1) {
    border-bottom: var(--clr-coral) solid 5px;
}
.menu_shutter {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    background-color: var(--clr-bg);
    transition: transform 0.5s ease-out;
}
.menu_item:hover .menu_shutter {
    transform: translateY(-100%);
}
.menu_item:hover .inside_text {
    transform: translateY(0);
    text-shadow: 0 0 5px #000;
    color: #fff;
}
.menu_item:hover .menu_image {
    transform: scale(1.05);
}
/* 
@keyframes upAndZoom {
    0% {
        transform: translateY(-0%);
        border-top: 4px solid var(--clr-coral);
    }
    69% {
        transform: translateY(-100%);
        border-top: 0px solid var(--clr-coral);
    }
    70% {
        transform: translateY(-100%) scale(1);
    }
    100% {
        transform: translateY(-100%) scale(1.05);
    }
} */
.menu_image {
    z-index: -1;
    width: 100%;
    height: var(--menu-height);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    position: absolute;
    top: 0;
    left: 0;
    /* Zoom effect */
    transition: transform 0.7s 0.3s ease-in-out;
}
#menu__1,
#menu__2,
#menu__3,
#menu__4,
#menu__5 {
    background-color: var(--clr-coral);
    background-position: 50% 0;
}

#menu__1 {
    background-image: url(../img/bandeau1.jpg);
}
#menu__2 {
    background-image: url(../img/bandeau2.jpg);
}
#menu__3 {
    background-image: url(../img/bandeau3.jpg);
}
#menu__4 {
    background-image: url(../img/bandeau4.jpg);
}
#menu__5 {
    background-image: url(../img/bandeau5.jpg);
}

footer #pins {
    z-index: 100;
    width: 3rem;
    height: 3rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border: 1px solid var(--clr-coral);
    border-radius: 50%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer #pins i {
    text-align: center;
    font-size: 1.5rem;
    color: var(--clr-coral);
}